#How to Connect Python to SQLÂ Server
###Here we will learn how Python can interact as a user of an SQL database using SQlite

https://python-course.eu/applications-python/sql-python.php

In [10]:
import sqlite3

In [11]:
# Connect to a database (or create it if it doesn't exist)
connection = sqlite3.connect("company.db")

In [12]:
#To be capable to send a command to "SQL", or SQLite, we need a cursor object.
cursor = connection.cursor()

In [13]:
sql_command = """
CREATE TABLE employee (
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE,
birth_date DATE);"""

In [ ]:
cursor.execute(sql_command)

In [ ]:
sql_command = """INSERT INTO employee (staff_number, fname, lname, gender, birth_date)
    VALUES (NULL, "William", "Shakespeare", "m", "1961-10-25");"""
cursor.execute(sql_command)


sql_command = """INSERT INTO employee (staff_number, fname, lname, gender, birth_date)
    VALUES (NULL, "Frank", "Schiller", "m", "1955-08-17");"""
cursor.execute(sql_command)

In [ ]:
# never forget :if you want the changes to be saved:
connection.commit()

connection.close()

In most cases, you won't directly insert data into a SQL table. Instead, you'll typically have a lot of data stored in a Python data type, such as a dictionary or a list, which will serve as the input for the insert statement.

The following example assumes you already have an existing database called company.db and a table named employee. We'll use a list containing data of persons for the INSERT statement.

In [15]:
import sqlite3
connection = sqlite3.connect("company.db")

cursor = connection.cursor()

staff_data = [ ("William", "Shakespeare", "m", "1961-10-25"),
               ("Frank", "Schiller", "m", "1955-08-17"),
               ("Jane", "Wall", "f", "1989-03-14") ]

for p in staff_data:
    format_str = """INSERT INTO employee (staff_number, fname, lname, gender, birth_date)
    VALUES (NULL, "{first}", "{last}", "{gender}", "{birthdate}");"""

    sql_command = format_str.format(first=p[0], last=p[1], gender=p[2], birthdate = p[3])
    cursor.execute(sql_command)

In [20]:
#The time has come now to finally query our employee table.

import sqlite3
connection = sqlite3.connect("company.db")

cursor = connection.cursor()

cursor.execute("SELECT * FROM employee")
print("fetch all:")
result = cursor.fetchall()
for r in result:
    print(r)
cursor.execute("SELECT * FROM employee")
print("\nfetch one:")
res = cursor.fetchone()
print(res)

fetch all:
(1, 'William', 'Shakespeare', 'm', None, '1961-10-25')
(2, 'Frank', 'Schiller', 'm', None, '1955-08-17')

fetch one:
(1, 'William', 'Shakespeare', 'm', None, '1961-10-25')